.vehicleType {
  padding: 5%;
  background-color: #0410de;
  color: white;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
}

.slot {
  padding: 5%;
  background-color: #ffffff;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
}
