<div class="text-center" *ngIf="!isCurrentReservation">
  <p><i class="fas fa-ban me-3" style="font-size: 400%; color: red; opacity: 0.2"></i></p>
  <h2 class="fw-lighter">No Current Reservation</h2>
</div>

<div class="text-center" *ngIf="isCurrentReservation">
  <h3 class="fw-lighter mb-4">Current Reservation</h3>
  <p>
    <span class="vehicleType" *ngIf="parkingSlotType == '4W'"><i class="fas fa-car"></i></span>
    <span class="vehicleType" *ngIf="parkingSlotType == '2W'"><i class="fas fa-motorcycle"></i></span>
    <span class="slot"> {{currentReservation.parkingSlot.slotId}} </span>
  </p>
  <p class="fw-lighter">
    {{currentReservation.fromTime | date:'dd/MMM/yyyy' }},
    {{currentReservation.fromTime | date:'shortTime'}} -
    {{currentReservation.toTime | date:'shortTime'}}
  </p>
  <h6 class="fw-lighter mt-3 mb-2">Actions</h6>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-sm btn-success" (click)="addOneHour()">Add 1h</button>
    <button type="button" class="btn btn-sm btn-warning" (click)="leave()">Leave</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
  </div>
</div>
