<div class="text-center">
  <div *ngIf="!(parkingHistoryList && parkingHistoryList.length >0)">
    <p><i class="fas fa-ban me-3" style="font-size: 400%; color: red; opacity: 0.2"></i></p>
    <h2 class="fw-lighter">No Reservation History</h2>
  </div>
  <div *ngIf="parkingHistoryList && parkingHistoryList.length >0 ">
    <h3 class="fw-lighter mb-4">Reservation History</h3>
  <table style="width:100%">
    <tr *ngFor="let history of parkingHistoryList">
      <td>
        <span class="vehicleType" *ngIf=" history.parkingSlot.type == '4W'"><i class="fas fa-car"></i></span>
        <span class="vehicleType" *ngIf=" history.parkingSlot.type == '2W'"><i class="fas fa-motorcycle"></i></span>
        <span class="light-font"> {{ history.parkingSlot.slotId }} </span>
        <span class="me-1"></span>
      </td>
      <td>
        <span class="light-font">{{ history.timestamp | date }}</span>
        <span class="me-1"></span>
      </td>
      <td>
        <span class="vehicleType" *ngIf="history.status == 'CANCELLED'" title="Cancelled" >
          <i class="fas fa-ban"></i>
        </span>
        <span class="vehicleType" *ngIf="history.status == 'LEFT'" title="Marked as Left" >
          <i class="fas fa-check"></i>
        </span>
        <span class="vehicleType" *ngIf="history.status == null" title="No Status" >
          <i class="fas fa-minus"></i>
        </span>
      </td>
    </tr>
  </table>


  </div>
</div>
