.custom-column {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 20px;
  margin-bottom: 20px;
  min-height: 75vh;
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
}
