<div class="container mt-5">
  <div class="row">
    <!-- First Column - Form -->
    <div class="col-md-4">
      <div class="custom-column text-center">
        <app-parking-reservation></app-parking-reservation>
      </div>
    </div>
    <!-- Second Column - Current Booking -->
    <div class="col-md-4">
      <div class="custom-column">
        <app-current-reservation></app-current-reservation>
      </div>
    </div>
    <!-- Third Column - Booking History -->
    <div class="col-md-4">
      <div class="custom-column">
        <app-parking-history></app-parking-history>
      </div>
    </div>
  </div>
</div>
