<form (ngSubmit)="reserveSlot()" >
  <fieldset [disabled]="isCurrentReservationAvailable">
    <p class="fw-light"> Choose your Vehicle type</p>
    <div class="form-group mb-3">
      <div id="radios">
        <label for="four-wheeler" class="material-icons" title="Four Wheeler">
          <input type="radio" name="mode" id="four-wheeler" value="4W" checked/>
          <span><i class="fas fa-car"></i></span>
        </label>
        <label for="two-wheeler" class="material-icons" title="Two Wheeler">
          <input type="radio" name="mode" id="two-wheeler" value="2W" />
          <span><i class="fas fa-motorcycle"></i> </span>
        </label>
      </div>
    </div>

    <p class="fw-light"> Choose your Approximate In and Out Timings</p>
    <div class="form-group row mb-3">
      <div class="col-sm-6">
        <input type="time" class="form-control" id="fromTime" [(ngModel)]="fromTime" [ngModelOptions]="{standalone: true}" placeholder="From Time">
      </div>
      <div class="col-sm-6">
        <input type="time" class="form-control" id="toTime" [(ngModel)]="toTime" [ngModelOptions]="{standalone: true}" placeholder="To Time">
      </div>
    </div>

    <button type="submit" class="btn btn-sm btn-success mb-3">Reserve a Slot</button>
  </fieldset>

</form>
