/* Form */
  /* Vehicle Type Radio */
  #radios label {
    cursor: pointer;
    position: relative;
  }

  #radios label + label {
    margin-left: 15px;
  }

  input[type="radio"] {
    opacity: 0; /* hidden but still tabable */
    position: absolute;
  }

  input[type="radio"] + span {
    font-family: 'Material Icons';
    color: #000000;
    border-radius: 50%;
    padding: 12px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }

  input[type="radio"]:checked + span {
    color: #ffffff;
    background-color: #0410de;
  }

  input[type="radio"]:focus + span {
    color: #fff;
  }

