<div class="container">
  <div *ngIf="!isLoggedIn" class="public-content">
    <h3>Welcome to Vehicle Parking Application.</h3>
    <p>Please Login or Register to continue</p>
    <div class="btn-group" role="group">
      <a class="btn btn-outline-success" href="/login">Login</a>
      <a class="btn btn-outline-success" href="/register">Register</a>
    </div>
  </div>
  <app-board-user *ngIf="isLoggedIn"></app-board-user>
</div>
